@using CinemaSite.Entities;

@{
    ViewBag.Title = "Anasayfa";
    var user = (User)Session["User"];
}


<div id="templatemo_main_wrapper">
    <div id="templatemo_main">

        <div id="content" class="float_l">
            @foreach (var item in ViewBag.Films)
            {
                <div class="post">
                    <div class="post_image"><img src="~/images/@item.ImageUrl" alt="@item.ImageUrl" width="580px" height="260px" /><span class="date">@item.CreatedDate</span></div>
                    <h2>@item.Title</h2>
                    <p>@item.Description</p>
                    <a href="/film/@item.Id">Detaya Git</a>
                    @if (user != null && user.IsAdmin)
                    {
                        <a href="/edit/@item.Id">Güncelle</a>
                        <a href="/delete/@item.Id">Sil</a>
                    }
                </div>
            }
        </div>

        <div id="sidebar" class="float_r">
            <h3>Services</h3>
            <ul class="templatemo_list">
                @foreach (var item in ViewBag.Categories)
                {
                    <li><a href="/filmler/@item.Id">@item.Name</a></li>
                }
            </ul>

        </div>
        <div class="cleaner"></div>
    </div>
</div>
